<form id="supplyformFile" method="post" target="frameFile" encType="multipart/form-data" action="/upload">
    <input type="file" id="fileUp" name="fileUp" />
    <input type="submit" value="提交">
    <iframe id="frameFile" name="frameFile" style="display:none"></iframe>
</form>


{{#section 'js'}}
<script>

    window.addEventListener('message',function(e){
       alert(1)
    },false);

</script>
{{/section}}
